# Docker Compose full stack defaults (frontend + backend + mysql)

# Path to backend repo relative to this frontend repo
BACKEND_CONTEXT=../backend-bank

# Frontend Nginx -> backend service URL inside Docker network
BACKEND_URL=http://backend-bank:8080

# MySQL
MYSQL_PORT=3306
MYSQL_DATABASE=backend_bank
MYSQL_USER=backend_user
MYSQL_PASSWORD=backend_pass
MYSQL_ROOT_PASSWORD=root_pass

# Backend security (Basic Auth)
SECURITY_USER=admin
SECURITY_PASSWORD=admin123
